<footer class="footer pt-3 mt-4">
	<div class="container">
		<p class="text-center text-muted">&copy; 2021 Jiří Velek</p>
	</div>
</footer>

<script src="{{ base_url }}/view/js/clean_url_form.js"></script></body></html>
